@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-inter: "Inter", Helvetica, Arial, sans-serif;
  --primary: #004D61;
  --secondary: #FF5031;
  --grey: #DEE9EA;
  --surface: #F8F8F8;
  --white: #FFFFFF;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
}

.button-bg {
  background-color: var(--primary);
  color: white;
}

.button-bg-hover {
  background-color: var(--grey);
  color: var(--primary);
}

.links-primary {
  color: var(--primary);
}

li {
  border-bottom: 1px solid var(--primary);
}

.card-boas-vindas {
  background-color: var(--primary);
  color: var(--white);
}

.hr-secondary {
  border-color: var(--secondary);
}

.title-primary {
  color: var(--primary);
}